html, body, div {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


div {
  display: flex;
  margin: 0;
  border: 2px solid purple;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("http://bit.ly/2SgbYoH");
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  text-align: center;
  font: 36pt bold;
  color: whitesmoke;
}
