footer {
  border: 2px solid darkred;
  border-radius: 7px;
  text-align: center;
  font-size: 18pt;
  font-weight: bolder;
  background-color: rgba(120, 255, 128, .55);
  /*here's the layout stuff*/
  position: fixed;
  bottom: 0;
  width: 90%;
  margin: 5px;

}

ul {
  color: orangered;
}
