body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-end;
}

div {
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: green;
  border: 2px solid black;
  border-radius: 4px;
  margin: 5px
}
