section {
  display: flex;
  flex-flow: row wrap;
}

div {
  width: 100%;
  height: 100px;
  background-color: lightblue;
  border: solid orange 1px;
  margin; 1px;
}


.long {
  width: 400px;
  flex-grow: 3;
}


.short {
  width: 400px;
  flex-grow: 1;
}


.normal {
  width: 400px;
  flex-grow: 2;
}
