html body div {
  padding: 0;
  border: 0;
  margin: 0;

}

ul {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 30%;
  padding-left: 0;
}

li {
  padding-top: 20px;
  text-align: center;
  background-color: lightblue;
  height: 70px;
  list-style: none;
  border: 1px darkblue solid;

}

a {
  text-decoration: none;
  font-variant: small-caps;
}
